@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap')

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;

}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
    font-family: "Azeret Mono";
}
.nav-text{
    font-weight: 800;
    font-size: 28px;
}
.btn-primary{
    background-color: rgb(255, 255, 255);
    font-weight: 600px;
    font-size: 20px;
    color:rgb(13, 19, 33) ;
    padding: 17px 24px;
    border-radius: 8px;
    opacity: 0.8;
    
}
/* banner style start here */

.banner{
    /* width: 1440px;
    min-height: 652px; */
    /* border: 2px solid red; */
    margin: 0 auto;
    padding: 0;
    background-image: url("/B10A1-Challenge-Begins/assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
width: 998px;
text-align: center;
font-family: "Azeret Mono";
}

.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;

}


.banner-destination{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-top: 10px;
}

.banner-profile-pic{
    width: 240px;
    height: 228.9px;
    margin-top: 20px;
    
}
.btn-primary-cotact{
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
padding: 21px 24px;
border-radius: 8px;
margin-bottom: 20px;


}
/* banner style end here */

/* main section style start here */

.why-web{
    max-width: 946px;
height: 1235px;
/* border: 2px solid red; */
/* margin-top: 100px; */
border-radius: 16px;
background-color: white;
margin: 50px auto;
padding: 0 50px;
text-align: center;
font-family: "Azeret Mono";



}
.section-title{
    font-size: 35px;
    font-weight: 800px;
    margin-top: 70px;
    
}
.section-description{
    font-size: 16px;
    font-weight: 400px;
    
}
.content{
    max-width: 950px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    font-family: "Azeret Mono";
}
.leftside-content{
    width: 50%;
    /* display: flex; */

   
}
.leftside-title{
    font-weight: 700px;
    font-size: 24px;
    padding: 0;
    margin: 0;
    text-align: left;
    font-family: "Azeret Mono";

}
.leftside-p{
    font-size: 16px;
    font-weight: 400px;
    margin: 0;
    text-align: left;
    margin-top: 20px;
    font-family: "Azeret Mono";
}
.btn-learn{
   border: 1px solid black; 
   font-size: 20px;
   font-weight: 400;
   width: 170px;
   height:45px ;
   text-align: center;
   margin-top: 50px;
   font-family: "Azeret Mono";
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
   
}
.rightside-content{
    /* width: 50%; */
}

.content1{
    max-width: 950px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    
}
.leftside-content1{
    width: 30%;
}
.rightside-content1{
    width: 60%;
}
.rightside-title1{
    font-weight: 700px;
    font-size: 24px;
    padding: 0;
    margin: 0;
    text-align: left;
    

}
.rightside-p{
    font-size: 16px;
    font-weight: 400px;
    margin: 0;
    text-align: left;
    margin-top: 20px;
}

.content2{
    max-width: 950px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 50px;
}
.leftside-content2{
   width: 30%; 
}
.rightside-content2{
    width: 60%;
}
.lestside-title2{
    font-weight: 700px;
    font-size: 24px;
    padding: 0;
    margin: 0;
    text-align: left;
}
.leftside-p2{
    font-size: 16px;
    font-weight: 400px;
    margin: 0;
    text-align: left;
    margin-top: 20px; 
    
}
/* main section style end here */


/* my inspiration style start here */

.inspiration{
    max-width: 950px;
    height: 500px; 
    border: 2px solid red; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin: 0 auto;  */
    
    

}
.inspiration-title{
    font-size: 35px;
    font-weight: 800px;
    margin-top: 0px;
    text-align: center;
    font-family: "Azeret Mono"; 
    
}
.inspiration-p{
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    font-family: "Azeret Mono";
    margin-bottom: 50px;
}



/* my inspiration style end here */


/* main tag style */
main{
    max-width: 950px;
    margin: 0 auto;
    font-family: "Azeret Mono"; 
}
main section{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* my current target style here */
.current-target{
    max-width: 950px;
    border: 2px solid red; 
    /* margin-top: 50px; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin: 0 auto;  */
}
.current-target-title{
    font-size: 35px;
    font-weight: 800px;
    margin-top: 0px;
    text-align: center;
    font-family: "Azeret Mono"; 
    
}
.current-target-p{
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    font-family: "Azeret Mono";
  
    margin-top: 0px;
    
}
.skill-target{
    display: flex; gap: 24px;
}
.skill{
    padding: 40px;
    box-shadow: 0px 4px 50px 0px rgba(0,0,0,0.06);
    border-radius: 16px;
    
}
.underline{
    text-decoration-line: underline;
}

.skill1{
    background: rgba(255, 76, 30, 0.05);
}
.skill2{
    background: rgba(0, 76, 232, 0.05);
}
.skill3{
    background: rgba(255, 223, 0, 0.05);
}
/* my current target style here */

/* i need support style start here */
 .image{
    background-image: url(/B10A1-Challenge-Begins/assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 313px;
}
.support-title{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: white;
    
}
.support-p{
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    color: white;
}
.support-box{
    display: flex;
    gap: 10px;
}
.placeholder{
    width: 550px;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid gba(13, 19, 33, 0.15); 
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
}
.submit{
    width: 120px;
    height: 55px;
    border: 1px solid gba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}
 